/* Small sizing reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Stretch HTML and BODY */
html, body {
  width: 100%;
  height: 100%;
}

/* Add perspective to container */
body {
  perspective: 1600px;
    -moz-perspective: 1600px;
    -webkit-perspective: 1600px;
  font-family: Open sans, sans-serif;
}

.page {
  display: inline-block;
  position: fixed;
  z-index: 1; /* the content page should go behind the cover pages */
  
  /* Size & Position */
  left: 0px;
  width: 400px;
  margin-left: 0px; /* half of width */
  top: 0px;
  height: 500px;
  margin-top: 0px; /* half of height */
  
  /* Add some styling, so the pages are opaque */
  background-color: #eee;
  
  /* Hide backface of each page/side, so we don't see it when turned */
  backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  
  /* Set up animation */
  transition: transform 1.0s ease;
    -o-transition: transform 1.0s ease;
    -moz-transition: transform 1.0s ease;
    -webkit-transition: transform 1.0s ease;

  /* Hide content that overflows the page */
  /* overflow: hidden; */
}

.page.odd {
  /* odd pages flip along left side, and with minus degree rotation */
  transform-origin: bottom;
    
  /* Some styling */
  border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
  box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
    -moz-box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
    -webkit-box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
}

.page.even {
  margin-top: 500px; 

  /* even pages flip along right side, and with positive degree rotation */
  transform-origin: top;
  transform: rotateX(180deg); /* even pages start rotated (closed book) */
  
  /* Some styling */
  border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
  box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
    -moz-box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
    -webkit-box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
}

.page.odd.turn {
  transform: rotateX(-180deg);
}
.page.even.turn {
  transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* Put cover pages in front of content page */
#cover {
  z-index: 3;
}
#cover_back {
  z-index: 2;
}

#content {
  /* Some styling */
  padding: 10px 25px;
  overflow-y: auto;
}

